$theme-color: #781BF5;
body{
  font-family: "kozuka-gothic-pr6n", sans-serif;
  &.no-scroll {
    overflow: hidden;
  }
}
.container{
  max-width: 1280px;
  margin: auto;
  position: relative;
  @media screen and (max-width: 1161px) {
      padding: 0 20px;
  }
}
.wrap{
  max-width: 1160px;
  margin: auto;
}
.bg{
  background: $theme-color;
  padding: 5px 0;
}
.description{
  margin: 36px 0;
  p{
    &.text{
      font-size: 24px;
      color: $theme-color;
      font-weight: 500;
      @media screen and (max-width: 800px) {
        font-size: 18px;
      }
      &.left{
        text-align: left;
      }
      &.right{
        text-align: right;
        @media screen and (max-width: 800px) {
          text-align: left;
        }
      }
      svg{
        width: 114px;
        @media screen and (max-width: 800px) {
           width: 70px; 
        }
      }
    }
  }
}
.app-screens{
  .screens-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1024px) {
      justify-content: center;
      flex-direction: column;
    }
    .phone-mockup{
      max-width: 330px;
      @media screen and (max-width: 1024px) {
        margin-bottom: 25px;
        position: sticky;
        top:70px;
      }
      @media screen and (max-width: 800px) {
        max-width: 246px;
      }
    }
  }
}
.app-stores-banner{
  margin-top: 30px;
  .bottom-area{
    display: flex;
    gap: 30px;
    @media screen and (max-width: 1024px) {
       justify-content: center; 
    }
    .app-store{
      max-width: 170px;
    }
    .google-play{
      max-width:200px;
    }
    a{
      display: block;
    }
  }
}
h2{
  &.grad-pt06{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: linear-gradient(90deg, #EB00FF 0%, #4D26FF 100%);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    color: #fff;
    margin: auto;
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    position: relative;
    margin-bottom:35px;
    @media screen and (max-width: 585px) {
      width: 100vw;
      position: relative;
      left: 50%;
      transform: translateX(-50%);   
    }
  }
}
h3{
  &.grad-pt01{
    max-width: 480px;
    height: 65px;
    line-height: 65px;
    background: linear-gradient(90deg, #FF8A26 0%, #FF00FF 100%);
    border-radius: 60px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    color: #fff;
    margin: auto;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    @media screen and (max-width: 800px) {
      max-width: 305px;
      font-size: 18px;
      height: 53px;
      line-height: 53px;
    }
  }
  &.grad-pt02{
    max-width: 325px;
    height: 65px;
    line-height: 65px;
    background: linear-gradient(90deg, #FF8A26 0%, #FF00FF 100%);
    border-radius: 60px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    color: #fff;
    margin: auto;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    position: relative;
    top: 30px;
    @media screen and (max-width: 800px) {
      max-width: 306px;
      height: 53px;
      line-height: 53px;
    }
    span{
      position: relative;
    }
  }
  &.grad-pt04{
    max-width: 328px;
    height: 49px;
    line-height: 49px;
    background: linear-gradient(90deg, #FFC400 0%, #F45662 100%);
    border-radius: 60px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    color: #fff;
    margin: auto;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 585px) {
       font-size: 14px; 
    }
    span{
      position: relative;
      svg{
        width: 67px;
      }
    }
  }
  &.grad-pt05{
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: linear-gradient(90deg, #EB00FF 0%, #4D26FF 100%);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    color: #fff;
    margin: auto;
    font-size: 35px;
    text-align: center;
    font-weight: 500;
    position: relative;
    margin-bottom:30px;
    letter-spacing: .1em;
    @media screen and (max-width: 991px) {
      font-size: 25px; 
    }
    @media screen and (max-width: 585px) {
      width: 100vw;
      position: relative;
      left: 50%;
      transform: translateX(-50%); 
    }
  }
}
a{
  &.grad-pt03{
    max-width:417px;
    height: 65px;
    line-height: 65px;
    background: linear-gradient(90deg, #4D26FF 0%, #EB00FF 100%);
    border-radius: 60px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    color: #fff;
    margin: auto;
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    position: relative;
    display: block;
    @media screen and (max-width: 800px) {
      max-width:363px;
      height: 60px;
    }
    span{
      position: relative;
      font-family: "Cooper Black", serif;
      color: #fff;
    }
  }
  &.grad-pt07{
    max-width:662px;
    margin: auto;
    height: 77px;
    line-height: 77px;
    background: linear-gradient(90deg, #4D26FF 0%, #EB00FF 100%);
    border-radius: 60px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    color: #fff;
    margin: auto;
    font-size: 22px;
    text-align: center;
    font-weight: 500;
    position: relative;
    display: block;
    @media screen and (max-width: 800px) {
      max-width:363px;
      height: 60px;
      line-height: 60px;
      font-size: 14px;
    }
  }
}
br{
  &.sp{
    @media screen and (min-width: 801px) {
        display: none;
    }
  }
  &.pc{
    @media screen and (max-width: 800px) {
        display: none;
    }
  }
}
.anchor {
  padding-top: 111px;
  margin-top: -111px;
  @media screen and (max-width: 800px) {
    padding-top: 70px;
    margin-top: -70px;
  }
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgb(255, 255, 255, .9);
  .container{
    @media screen and (max-width: 800px) {
       display: flex;
       justify-content: space-between; 
       align-items: center;
       height: 70px;
    }
    .logo{
      position: absolute;
      left: 38px;
      top: 28px;
      max-width: 52px;
      @media screen and (max-width: 800px) {
        position: relative;
        top: unset;
        left: unset;
      }
    }
    nav{
      display: block;
      position: relative;
      padding: 45px 35px;
      @media screen and (max-width: 800px) {
        display: none;
      }
      ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        // gap: 40px;
        line-height: 20px;
        max-width: 867px;
        margin: auto;
        // @media screen and (max-width: 1199px) {
        //   gap: 30px;
        // }
        // @media screen and (max-width: 991px) {
        //   gap: 20px;
        // }
        @media screen and (max-width: 800px) {
          display: block;
        }
        li{
          a{
            color: #000;
            font-size: 18px;
            @media screen and (max-width: 1199px) {
              font-size: 17px; 
            }
            @media screen and (max-width: 991px) {
              font-size: 14px; 
            }
          }
        }
      }
    }
    button{
      @media screen and (min-width: 801px) {
        display: none;
      }
      width: 23px;
      height: 18px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      &.menu-trigger{
        &.active{
          span:nth-of-type(1) {
            transform: translateY(6px) rotate(-45deg);
          }
          span:nth-of-type(2) {
            opacity: 0;
          }
          span:nth-of-type(3) {
            transform: translateY(-9px) rotate(45deg);
          }
        }
      }
      span{
        border-bottom: 3px solid #000;
        width: 100%;
        transition: all .4s;
      }
    }
  }
}
main{
  .first-view{
    margin-top: 130px;
    @media screen and (max-width: 800px) {
      margin-top: 100px;
    }
    .logo-section{
      max-width: 515px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 800px) {
        max-width: 336px;
        gap: 20px;
      }
      .app-icon{
        max-width: 203px;
        width: 100%;
        @media screen and (max-width: 800px) {
          max-width: 119px;
        }
        p{
          font-size: 20px;
          color: $theme-color;
          text-align: center;
          line-height: 20px;
          max-width: 160px;
          margin: auto;
          margin-top: 11px;
          font-weight: 600;
          @media screen and (max-width: 800px) {
            font-size: 11px;
          }
        }
      }
      .catchcopy{
        max-width: 273px;
        width: 100%;
        padding-top: 30px;
        @media screen and (max-width: 800px) {
          max-width: 195px;
        }
      }
    }
    .catchphrase{
      margin: auto;
      margin-top: 32px;
      background-color: $theme-color;
      max-width: 1000px;
      border-radius: 50px;
      color: #fff;
      font-size: 30px;
      font-weight: 400;
      text-align: center;
      @media screen and (max-width: 800px) {
        font-size: 20px;
      }
      p{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        font-weight: 500;
        line-height: 46px;
        @media screen and (max-width: 800px) {
          font-size: 20px;
          line-height: 33px;
        }
        span{
          display: block;
          svg{
            width: 106px;
            fill: #fff;
            @media screen and (max-width: 800px) {
              width: 68px;
            }
          }
        }
      }
    }
    .description{
      @media screen and (max-width: 800px) {
        text-align: center;
      }
      .wrap{
        @media screen and (max-width: 800px) {
          display: inline-block;
        }
      }
      p{
        &.text{
          font-size: 24px;
          line-height: 33px;
          margin-bottom: 17px;
          @media screen and (max-width: 800px) {
            font-size: 19px;
          }
          span{
            &.issamitch-logo{
              font-family: "Cooper Black", serif;
              font-size: 41px;
              letter-spacing: .06em;
              width: 120px;
              display: inline-block;
              small{
                font-size: 30px;
              }
            }
            &.issamitch{
              font-size: .8rem;
            }
          }
          
          svg{
            width: 114px;
            @media screen and (max-width: 800px) {
              width: 75px;
            }
          }
        }
      }
    }
  }
  .history{
    .diagonal-split-block{
      width: 100%;
      height: 200px;
      position: relative;
      top: 1px;
      @media screen and (max-width: 800px) {
        height: 80px;   
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $theme-color;
        clip-path: polygon(0 100%, 100% 0, 100% 100%);
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        clip-path: polygon(0 0, 100% 0, 0 100%);
      }
    }
    .history-content{
      color: #fff;
      h2{
        font-size: 110px;
        position: relative;
        max-width: 540px;
        margin-left: auto;
        font-weight: 300;
        line-height: 1;
        @media screen and (max-width: 991px) {
          margin-right: auto;
          text-align: center;
          font-size: 50px;
          line-height: 76px;
          margin-bottom: 25px;
        }
        span{
          position: absolute;
          top: 60%;
          left:53px;
          color: rgba(255, 255, 255, 0.2);
          font-size: 165px;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          font-weight: 600;
          @media screen and (max-width: 1295px) {
            font-size: 140px;
          }
          @media screen and (max-width: 991px) {
           font-size: 76px;
           left: unset;
           right: 9%;
          }
          @media screen and (max-width: 585px) {
            right:-20px;
           }
        }
      }
      p{
        font-size: 20px;
        letter-spacing: .1rem;
        font-weight: 500;
        line-height: 1.7;
        @media screen and (max-width: 991px) {
            font-size: 16px;
        }
      }
    }
  }
  h2{
    font-size: 60px;
    color: #fff;
    font-weight: 500;
    @media screen and (max-width: 991px) {
      font-size: 32px; 
    }
    &.bottom{
      text-align: center;
      border-bottom: 6px solid #fff;
      max-width: 430px;
      margin: auto;
      padding-bottom: 15px;
      line-height: 1;
      font-weight: 500;
      @media screen and (max-width: 991px) {
        max-width: 200px;
     }
    }
    &.left{
      text-align: left;
      @media screen and (max-width: 800px) {
        text-align: center;
        padding: 10px 0;
      }
      span{
        font-size: 36px;
        font-weight: 300;
        @media screen and (max-width: 800px) {
          display: block;
          font-size: 18px;
        }
      }
    }
  }
  .about{
    color: #fff;
    padding-bottom: 100px;
    @media screen and (max-width: 767px) {
     padding-bottom: 60px;   
    }
    .bg{
      padding: 72px 0;
      @media screen and (max-width: 800px) {
         padding: 60px 0 45px; 
      }
    }
    h2{
      margin-bottom: 55px;
      @media screen and (max-width: 800px) {
         margin-bottom: 23px; 
      }
    }
    h3{
      text-align: center;
      font-size: 74px;
      font-weight: 500;
      line-height: 1.1;
      @media screen and (max-width: 991px) {
         font-size: 34px; 
         line-height: 1.2;
      }
    }
    .app-screens{
      margin:45px 0;
      @media screen and (max-width: 800px) {
          margin: 45px 0 35px;
      }
      .screens-container{
        justify-content: center;
        gap:70px;
        position: relative;
        @media screen and (max-width: 1024px) {
          flex-direction: row;
          flex-wrap: nowrap;
        }
        @media screen and (max-width: 991px) {
          gap:25px;
        }
        .phone-mockup{
          max-width: 352px;
          @media screen and (max-width: 800px) {
              margin-bottom: 0;
          }
        }
        .logo{
          width: 95px;
          @media screen and (max-width: 991px) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            width: 70px;
            z-index: 2;
          }
        }
      }
    }
    .deli{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .deli-banner{
        max-width: 400px;
      }
    }
  }
  .feature{
    .bg{
      padding: 20px 0px 10px;
      @media screen and (max-width: 585px) {
        padding: 10px 0px 10px;
      }
    }
    .title{
      h2{
        svg{
          width: 190px;
          @media screen and (max-width: 991px) {
            width: 125px;
          }
        }
        &.bottom{
          @media screen and (max-width: 991px) {
             max-width: 315px; 
          }
          // span{
          //   display: inline-block;
          //   width: 190px;
          //   margin-right: 8px;
          // }
          span{
            &.issamitch-logo{
              font-family: "Cooper Black", serif;
              font-size: 41px;
              letter-spacing: .06em;
              width: 135px;
              display: inline-block;
              small{
                font-size: 30px;
              }
            }
          }
        }
      }
      p{
        color: #fff;
        text-align: center;
        font-size: 42px;
        line-height: 1;
        font-weight: 500;
        margin: 15px 10px;
        @media screen and (max-width: 991px) {
          font-size: 28px;
        }
        @media screen and (max-width: 585px) {
            margin: 15px 0 0;
        }
      }
    }
    .plans{
      margin:85px 0;
      h3{
        z-index: 2;
        position: relative;
      }
      .table-wrap{
        background-color: #FAF6F6;
        border-radius: 20px;
        padding: 65px;
        margin: auto;
        max-width: 770px;
        margin-top: -30px;
        @media screen and (max-width: 800px) {
          border-radius: 0; 
          width: 100vw;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          padding-left: 24px;
          padding-right: 10px;
        }
        @media screen and (max-width: 585px) {
          // padding: 50px 65px 10px; 
          padding: 50px 20px 0 ;
        }
       table{
        width: 100%;
        border-collapse: collapse;
        tr{
          th{
            &.plan-name {
              font-size: 24px;
              padding: 15px 0;
              vertical-align: top;
              width: 175px;
              text-align: left;
              font-weight: 600;
              letter-spacing: .02em;
              @media screen and (max-width: 800px) {
                width: 115px; 
                font-size: 16px;
              }
              @media screen and (max-width: 585px) {
                width: 105px; 
                font-size: 15px;
              }
              span{
                &.plan-bullet{
                  font-size: 23px;
                  margin-right: 3px;
                  position: relative;
                  top: 0px;
                  @media screen and (max-width: 585px) {
                    font-size: 15px;
                  }
                }
              }
            }
          }
          td{
            &.plan-details {
              padding: 15px 0;
              vertical-align: top;
              line-height: 1.6;
              .price-row {
                display: flex;
                align-items: center;
                gap: 10px;
                .price {
                  font-size: 24px;
                  font-weight: 500;
                  @media screen and (max-width: 800px) {
                    font-size: 14px;
                  }
                }
                .campaign-badge {
                  background-color: #ff0009;
                  color: #fff;
                  font-size: 1.4rem;
                  width: 190px;
                  text-align: center;
                  font-weight: 500;
                  @media screen and (max-width: 800px) {
                    font-size: 14px;
                    width: 127px;
                  }
                }
              }
              .viewing-time {
                font-size: 24px;
                margin: 15px 0;
                font-weight: 300;
                @media screen and (max-width: 800px) {
                  font-size: 14px;
                }
                @media screen and (max-width: 585px) {
                  margin: 10px 0;
                }
              }
              .plan-note {
                font-size: 1.1rem;
                @media screen and (max-width: 800px) {
                  font-size: 12px;
                }
                span{
                  display: block;
                  padding-left: 18px;
                  @media screen and (max-width: 800px) {
                    display: inline;
                    padding-left: 0;
                  }
                }
              }
            }
          }
        }
       } 
      }
    }
  }
  .live-deli{
    .description{
      margin: 40px 0;
      p{
        &.text{
          svg{
            width: 98px;
            @media screen and (max-width: 800px) {
               width: 70px; 
            }
          }
        }
      }
    }
    .app-screens{
      margin-bottom: 120px;
      @media screen and (max-width: 585px) {
         margin-bottom: 80px; 
      }
    }
  }
  .premium-member{
    .premium-member-room{
      background-color: #F4EAFF;
      padding:40px;
      margin-top: 50px;
      margin-bottom: 90px;
      border-radius: 20px;
      position: relative;
      padding-bottom: 75px;
      @media screen and (max-width: 800px) {
        padding: 40px 10px 20px;
      }
      @media screen and (max-width: 585px) {
        margin-top: 20px;
      }
      .description{
        margin-top: 0;
        @media screen and (max-width: 800px) {
          padding: 0 20px;  
          margin-bottom: 0;          
        }
        p{
          &.text{
            font-size: 20px;
            @media screen and (max-width: 800px) {
               font-size: 16px; 
            }
            svg{
              width: 81px;
              @media screen and (max-width: 800px) {
                width: 59px;
             }
            }
          }
        }
      }
      .app-screens{
        .screens-container{
          max-width: 1020px;
          margin: auto;
          .phone-mockup{
            @media screen and (min-width: 801px) {
              max-width: 300px;
            }
          }
        }
      }
      .member-room{
        position: absolute;
        left: 40px;
        bottom:30px;
        @media screen and (max-width: 1024px) {
          position: relative;
          left: unset;
          bottom: unset;
          margin-bottom: 30px;
        }
        .member-room-list{
          max-width: 594px;
          border-radius: 30px;
          background-color: #fff;
          padding: 55px 35px 35px 32px;
          @media screen and (max-width: 1024px) {
            margin: auto;
          }
          ul{
            li{
              line-height: 1.9;
              font-size: 18px;
              font-weight: 600;
              @media screen and (max-width: 800px) {
                font-size: 14px;
              }
              span{
                &.bullet{
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
  .slide-sec{
    .app-screens-wrap{
      background-color: #F8F5F4;
      padding: 40px 0;
      margin-bottom:90px;
      @media screen and (max-width: 800px) {
        padding-bottom: 20px;
      }
      .container{
        @media screen and (max-width: 1024px) {
          padding: 0;
        }
        .wrap{
          &.splide{
            figure{
              @media screen and (max-width: 585px) {
                max-width: 246px;
                margin: auto;
              }
            }
            @media screen and (min-width: 1025px) {
              visibility: visible !important;   
            }
            .splide__track {
              @media screen and (min-width: 1025px) {
                overflow: visible;
              }
            }
            .splide__slide img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
            .splide__arrow{
              top:unset;
              bottom: 0;
              margin-top: 20px;
              transform: translateX(-50%);
              -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              &.splide__arrow--prev{
                left: 40%;
              }
              &.splide__arrow--next{
                left: 60%;
              }
            }
          }
        }
      }
      .app-screens{
        .screens-container{
          @media screen and (max-width: 1024px) {
            flex-direction: unset;
            justify-content: space-between;   
          }
          .phone-mockup{
            max-width: 280px;
            
            figure{
              .deco-wrap{
                position: relative;
                .deco{
                  position: absolute;
                  &.mockup14{
                    right: -60px;
                    bottom:100px;
                    width: 120px;
                    z-index: 2;
                  }
                  &.mockup15{
                    left:-10px;
                    bottom:20px;
                    width: 300px;
                    z-index: 2;
                    @media screen and (max-width: 585px) {
                       left: -25px; 
                    }
                  }
                }
              }
              figcaption{
                margin-top: 30px;
                text-align: center;
                font-size: 28px;
                font-weight: bold;
                color: $theme-color;
                position: relative;
                line-height: 1.5;
                @media screen and (max-width: 1024px) {
                  font-size: 24px;
                  padding-bottom: 40px;
                }
                .to-right{
                  position: absolute;
                  bottom:0;
                  right: -42%;
                  &.pt02{
                    right:-60%;
                  }
                  @media screen and (max-width: 1024px) {
                     display: none; 
                  }
                }
                &.fix-width{
                  max-width: 246px;
                  margin-left: auto;
                  margin-right: auto;
                }
              }
            }
            @media screen and (max-width: 1024px) {
               position: relative; 
               top: unset;
            }
            @media screen and (max-width: 585px) {
              max-width: unset;
              padding: 0 20px;
            }
          }
        }
      }
    }
  }
  @font-face {
    font-family: "Cooper Black";
    src: url("../font/Cooper_Black_BT.otf");
  }  
  .faq{
    background-color:#F8F5F4;
    padding: 80px 0;
    margin-bottom: 90px;
    h2{
      font-size:35px;
      text-align: center;
      position: relative;
      color: #000;
      font-weight: 600;
      @media screen and (max-width: 800px) {
        font-size: 25px;  
      }
      span{
        border-bottom:3px solid $theme-color;
        display:inline-block;
        margin-bottom: 32px;
        font-family: "Cooper Black", serif;
        padding-bottom: 8px;
        @media screen and (max-width: 585px) {
            font-size: 20px;
        }
      }
    }
    p{
      text-align: center;
      font-size: 18px;
      margin: 60px 0;
      @media screen and (max-width: 800px) {
        font-size: 14px;  
        text-align: left;
        margin: 40px 0;
      }
    }
  }
  .streamer{
    .wrap{
      max-width: 1170px;
      .streamer-contents{
        padding-top: 60px;
        margin-bottom: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width: 991px) {
          flex-direction: column;
        }
        .app-moc{
          max-width: 388px;
          @media screen and (max-width: 991px) {
            margin-bottom: 80px;
          }
          @media screen and (max-width: 585px) {
            max-width: 246px;
          }
        }
        .content{
          max-width: 700px;
          width: 100%;
          .streamer-wrap{
            background-color:#FAF6F6;
            padding-top: 60px;
            padding:60px 50px 50px 50px;
            border-radius: 20px;
            margin-top: -20px;
            @media screen and (max-width: 991px) {
              width: 100vw;
              position: relative;
              left: 50%;
              transform: translateX(-50%);
              border-radius: 0;
              font-size: 14px;
            }
            @media screen and (max-width: 800px) {
              padding:50px 20px 30px;
            }
            &.top{
              text-align: center;
              margin-bottom: 50px;
              ul{
                text-align: left;
                display: inline-block;
                li{
                  font-weight: 500;
                  font-size: 18px;
                  line-height: 1.8;
                  @media screen and (max-width: 800px) {
                    font-size: 14px; 
                  }
                }
              }
            }
            h4{
              font-size: 18px;
              font-weight: 600;
              margin-bottom: 10px;
              @media screen and (max-width: 991px) {
                font-size: 14px; 
             }
            }
            p{
              font-size: 18px;
              font-weight: 400;
              margin-bottom: 30px;
              @media screen and (max-width: 991px) {
                 font-size: 14px; 
              }
              &:last-child{
                margin-bottom: 0;
              }
              span{
                svg{
                  width: 67px;
                  @media screen and (max-width: 585px) {
                    width: 45px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .support{
    h2{
      text-align: center;
      font-size: 42px;
      color: #000;
      margin-bottom: 80px;
      font-weight: 600;
      @media screen and (max-width: 800px) {
        font-size: 28px;   
      }
      svg{
        width: 159px;
        @media screen and (max-width: 800px) {
          width: 113px;
        }
      }
    }
    .support-contents{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 90px;
      @media screen and (max-width: 991px) {
        flex-direction: column; 
      }
      @media screen and (max-width: 585px) {
        margin-bottom: 80px;
      }
      .text{
        max-width: 585px;
        width: 100%;
        .support-content-deli{
          background-color: #F8F5F4;
          padding: 50px;
          @media screen and (max-width: 991px) {
            width: 100vw;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 50px;
          }
          @media screen and (max-width: 585px) {
              padding: 50px 30px;
          }
          p{
            font-size: 18px;
            line-height: 2;
            @media screen and (max-width: 800px) {
               font-size: 14px; 
            }
          }
        }
      }
      .img{
        max-width: 450px;
        width: 100%;
        @media screen and (max-width: 800px) {
            max-width: 360px;
        }
      }
    }
  }
  .premium-member-pt02{
    background-color: #F4EAFF;
    padding: 50px 0;
    margin-bottom: 90px;
    @media screen and (max-width: 800px) {
      background:none ; 
    }
    @media screen and (max-width: 585px) {
      padding: 0;
    }
    h2{
      font-size: 60px;
      color: $theme-color;
      text-align: center;
      position: relative;
      line-height: 1;
      @media screen and (max-width: 800px) {
        background-color: $theme-color; 
        font-size: 33px;
        color: #fff;
        width: 100vw;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        padding: 27px 0;
      }
      &:before {
        position: absolute;
        top: calc(50% - 1px);
        left: 0;
        width: 100%;
        height: 2px;
        content: '';
        background: $theme-color;
        @media screen and (max-width: 800px) {
         content: none;   
        }
      }
      span {
        &.line{
          position: relative;
          padding: 0 20px;
          background-color:#F4EAFF;
          font-weight: 600;
          @media screen and (max-width: 800px) {
            background: none; 
          }
        }
        &.sp-text{
          display: block;
          font-size: 18px;
          font-weight: 400;
          margin-top: 10px;
          @media screen and (min-width: 801px) {
            display: none; 
          }
        }
      }
    }
    .flex-box{
      margin-top: 34px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 800px) {
          flex-direction: column;
          background-color: #F4EAFF;
          margin-top: 20px;
          border-radius: 20px;
          padding: 40px 20px 65px;
      }
      .text-box{
        p{
          font-size: 18px;
          @media screen and (max-width: 800px) {
             font-size: 14px; 
             padding: 0 10px;
          }
        }
        .member-room{
          margin-bottom: 50px;
          margin-top: 20px;
          @media screen and (max-width: 585px) {
             margin-bottom: 40px; 
          }
          .member-room-list{
            max-width: 595px;
            margin: auto;
            border-radius: 20px;
            background-color: #fff;
            padding: 40px 30px 30px 30px;
            @media screen and (max-width: 800px) {
              max-width: unset; 
            }
            ul{
              li{
                line-height: 1.9;
                font-size: 18px;
                font-weight: 600;
                @media screen and (max-width: 800px) {
                  font-size: 14px;
               }
              }
            }
          }
        }
        h4{
          font-size: 42px;
          color: $theme-color;
          font-weight: 600;
          margin-top: 50px;
          @media screen and (max-width: 800px) {
            font-size: 28px;
            margin-bottom: 40px;
         }
        }
      }
      .app-moc{
        max-width: 317px;
        @media screen and (max-width: 585px) {
          max-width: 254px;
        }
      }
    }
  }
  .live-store{
    .live-store-contents{
      display: flex;
      gap:40px;
      margin-bottom: 90px;
      @media screen and (max-width: 800px) {
        flex-direction: column; 
      }
      .box{
        width: 50%;
        @media screen and (max-width: 800px) {
          width: 100%;
        }
        .content{
          background-color:#F8F5F4;
          padding:50px 85px 30px;
          min-height: 585px;
          @media screen and (max-width: 991px) {
            padding:50px 30px; 
            min-height: auto;
          }
          @media screen and (max-width: 585px) {
            width: 100vw;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
          }
          p{
            font-size: 18px;
            @media screen and (max-width: 991px) {
              font-size: 14px;
            }
          }
          ul{
            margin: 50px 0;
            list-style: disc;
            list-style-position: inside;
            @media screen and (max-width: 585px) {
               margin: 40px 0; 
            }
            li{
              @media screen and (max-width: 800px) {
                 font-size: 14px; 
              }
            }
          }
          .music-store-video{
            margin-bottom:20px ;
          }
        }
      }
    }
  }
  .submission{
    margin-bottom: 90px;
    background-color: #F8F5F4;
    @media screen and (max-width: 991px) {
      padding: 60px 0;
    }
    @media screen and (max-width: 991px) {
      background-image: url(../images/submission.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      background-position-y: 180px;
     }
     @media screen and (max-width: 585px) {
      background-image: url(../images/submission-sp.png);
      background-size: contain;
     }
    .submission-contents{
      display: flex;
      align-items: center;
      @media screen and (max-width: 1269px) {
       justify-content: space-between;
       padding: 0 20px;
      }
      @media screen and (max-width: 991px) {
         flex-direction: column; 
         position: relative;
      }
      @media screen and (max-width: 585px) {
        padding: 0;
      }
      .submission-content-text{
        @media screen and (max-width: 991px) {
          flex-direction: column; 
        }
        h2{
          font-size: 40px;
          font-weight: 900;
          color: #000;
          margin-bottom: 35px;
          line-height: 1.4;
          @media screen and (max-width: 1269px) {
            font-size: 25px;
            font-weight: 400;
          }
        }
        a{
          @media screen and (max-width: 991px) {
            position: absolute;
            bottom:0;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            max-width: 363px;
           width: 100%;
          }
          span{
            img{
              width: 25px;
            }
          }
          &.grad-pt03{
            max-width: 357px;
            height: 77px;
            line-height: 77px;
            @media screen and (max-width: 800px) {
              max-width: 363px;
              height: 60px;
              line-height: 60px;
            }
          }
        }
      }
      .submission-content-img{
        max-width: 748px;
        @media screen and (max-width: 1269px) {
          max-width: 700px;
        }
        @media screen and (max-width: 991px) {
          max-width: unset;
          padding: 31vh 0;
        }
        img{
          @media screen and (max-width: 991px) {
            display: none;
          }
        }
      }
    }
  }
  .column{
    background-color: #F4EAFF;
    padding: 80px 0;
    margin-bottom: 90px;
    h2{
      font-size: 40px;
      color: $theme-color;
      margin-bottom: 20px;
      line-height: 1.2;
      font-weight: 600;
      line-height: 1.6;
      @media screen and (max-width: 800px) {
        font-size: 24px;
      }
      span{
        svg{
          width: 168px;
          @media screen and (max-width: 800px) {
            width: 112px;
          }
        }
      }
    }
    p{
      margin-bottom: 30px;
      font-size: 1.41em;
      @media screen and (max-width: 800px) {
        font-size: 14px;
      }
      span{
        svg{
          width: 67px;
          @media screen and (max-width: 800px) {
            width: 51px;
          }
        }
      }
    }
  }
  .live-deli-app{
    background-color: #EBEBEB;
    padding: 80px 0;
    .app-screens{
      .screens-container{
        @media screen and (max-width: 1024px) {
            flex-direction: row;
        }
        .phone-mockup{
          max-width: 384px;
        }
      }
    }
    .live-deli-app-text{
      display: flex;
      justify-content: center;
      gap:30px;
      margin-top: 80px;
      margin-bottom: 45px;
      @media screen and (max-width: 800px) {
        gap: 20px; 
        margin-bottom: 20px;
        margin-top: 27px;
      }
      .logo{
        img{
          width: 143px;
          @media screen and (max-width: 800px) {
            width: 60px;
          }
        }
        p{
          color: $theme-color;
          font-size: 13px;
          font-weight: 600;
          margin-top: 10px;
          @media screen and (max-width: 800px) {
             display: none; 
          }
        }
      }
      h2{
        font-size: 48px;
        color: #000;
        line-height: 1.5;
        font-weight: 600;
        @media screen and (max-width: 800px) {
         font-size: 19px;
         line-height: 1.6;
        }
        span{
          svg{
            width: 160px;
            @media screen and (max-width: 800px) {
              width: 64px;
            }
          }
        }
      }
    }
    p{
      color: $theme-color;
      font-size: 28px;
      text-align: center;
      font-weight: 500;
      @media screen and (max-width: 800px) {
       font-size: 12px;
      }
    }
    .app-stores-banner{
      .bottom-area{
        justify-content: center;
        .app-store{
          max-width: 233px;
        }
        .google-play{
          max-width:272px;
        }
      }
    }
  }
  footer{
    position: relative;
    padding: 50px 20px;
    @media screen and (max-width: 800px) {
       padding: 30px 20px; 
    }
    ul{
      display: flex;
      justify-content: center;
      gap:40px;
      margin-bottom: 40px;
      @media screen and (max-width: 1024px) {
        gap:20px; 
      }
      @media screen and (max-width: 900px) {
         flex-wrap: wrap; 
      }
      li{
        line-height: 1;
        a{
          font-size: 12px;
          color: #000;
        }
      }
    }
    .jasrac{
      position: absolute;
      right: 0;
      top: -20px;
      font-size: 10px;
      @media screen and (max-width: 900px) {
        position: relative;
        right: unset;
        top: unset;
        text-align: center;
      }
      p{
        @media screen and (max-width: 900px) {
          display: inline-block;
          text-align: left;
        }
      }
    }
    small{
      text-align: center;
      display: block;
      font-size: 10px;
    }
  }
  .sp-nav{
    transition: .4s all;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .4s all;
    opacity: 0;
    z-index: -1;
    &.open{
      opacity: 1;
      z-index: 2;
    }
    nav{
      margin-top: 170px;
      padding-left: 20px;
      ul{
        li{
          margin-bottom: 24px;
          width: 100%;
          a{
            color: #000;
            font-weight: 700;
            font-size: 24px;
            line-height: 35px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-family: "Cooper Black", serif;
            span {
              font-weight: 500;
              font-size: 12px;
              line-height: 17px;
              margin-left: 10px;
              font-family: "kozuka-gothic-pr6n", sans-serif;
            }
          }
        }
      }
    }
  }
}